@import "reset", "mixins";

$base-size:         18px;
$base-lineheight:   1.5;
$base-style:        normal;
$container-width:   800px;

$sans:             'Open Sans';
$sans-narrow:      'Open Sans Condensed';
$sans-condensed:   'Open Sans Condensed';

$light:     400;
$book:      400;
$medium:    600;
$semi-bold: 600;
$bold:      600;

$off-white:   #f7f7f7;
$dark-grey:   #2d3033;
$blue:        #4D89C1;
$teal:        #278998;
$seafoam:     #31A480;
$green:       #94D78E;
$red:         #D7431B;
$orange:      #B24626;
$yellow:      #D7A627;
$grey:        #585A5B;
$pink:        #E6679A;

/* BASE */
* {box-sizing: border-box;}

html, body {
    font-style:     $base-style;
    font-weight:    $book;
    font-family:    $sans;
    font-size:      $base-size;
    line-height:    $base-lineheight;
    color:          $dark-grey;
    background:     $off-white;
    width:          100%;
    height:         100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

/* STRUCTURE */
input, select, button, textarea, a {
    transition: 0.2s all;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    background: $dark-grey;
}

#container {
    flex: 0 1 100%;
    width: 100%;
    background: $dark-grey;
}


/* PROJECT */
#title {
    overflow: hidden;
    max-height: 4rem;
    font-size: 1.7rem;
    line-height: 2.2rem;
    text-align: center;
    font-family: $sans-condensed;
    font-weight: $bold;
    color: $dark-grey;
    width: 100%;
    position: absolute;
    top: 25px;

    @include bp(medium) {
        font-size: 1.5rem;
    }

}

#stats {
    position: absolute;
    top: 100px;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: $sans-narrow;
    font-weight: $book;
    width: 100%;
    #daysOnChart {
        width: 100%;
        text-align: center;
    }

}

#rankChange {
    text-align: center;
}

#rank,#change {
    font-size: 1.2rem;
    font-family: $sans-narrow;
    display: inline-block;

}

#rank {
    font-weight: $bold;
}

#change {
    font-size: 0.9rem;
    font-weight: $bold;
}



button {
    cursor: pointer;
    outline: none;
    border: none;
    color: $dark-grey;
    background: transparent;
    font-family: 'FontAwesome';
    font-size: 3.5rem;
    padding: 20px;
    flex: 1 0 25%;
    margin-bottom: 30px;
    @include bp(medium) {font-size: 3.25rem; }
    @include bp(small) {font-size: 3rem; }
}

#bottomPanel {
    position: relative;
    flex: 1 0 285px;
    max-height: 285px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: flex-end;
    background: white;
}

#seek {
    outline: none;
    -webkit-appearance: none;
    background: rgba($dark-grey,.2);
    padding: 3px;
    width: 100%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}


input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: $dark-grey;
    width: 3px;
    height: 10px;
    cursor: ew-resize;
}

#volume {
    @extend #seek;
    padding: 1px;
    position: absolute;
    bottom: -250px;
    height: 2px;

    &::-webkit-slider-thumb { 
        background-color: $dark-grey;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-top: -1px;
    }
}

#volumeDown {
    position: absolute;
    top: 252px;
    left: -25px;
    font-family: FontAwesome;
    &:before {
        content: "\f027";
        color: $dark-grey;
        font-size: 1rem;
        font-weight: 300;
    }
}

#volumeUp {
    position: absolute;
    top: 252px;
    right: -25px;
    font-family: FontAwesome;
    &:before {
        content: "\f028";
        color: $dark-grey;
        font-size: 1rem;
        font-weight: 300;
    }
}


#playerTime {
    text-align: center;
    font-family: $sans;
    font-size: 1rem;
    font-weight: $bold;
    color: $dark-grey;
    position: absolute;
    top: 5px;
    left: 15%;
    width: 70%;
}

#currentTime {
    position: absolute;
    top: -4px;
    left: -50px;
    font-family: $sans;
    font-weight: $medium;
}

#endTime {
    position: absolute;
    top: -4px;
    right: -50px;
    font-family: $sans;
    font-weight: $medium;
}

#overlay {
    @extend #container;
    background: $dark-grey;
    color: $off-white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    ol,ul { padding-left: 3rem; font-size: 0.8rem; }
    ol { list-style-type: decimal; }
    ul { list-style-type: square; }

    h1 {
        font-size: 1.5rem;
        font-weight: $bold;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        @include bp(medium) {font-size: 1rem; }
    }

    #topSongs {
        flex: 1 0 50%;
        max-width: 50%;
        overflow-y: scroll;
    }

    #playInfo {
        flex: 1 0 50%;
        max-width: 50%;
        max-height: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
    }

    #recentlyPlayed,#thumbsDowned {
        flex: 1 0 50%;
        overflow-y: hidden;
        margin-bottom: 1.5rem;
    }
}

.hidden {
    flex: 0 1 0px;
    max-height: 0px;
}

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    background: rgba($off-white,0.1);
}
 
::-webkit-scrollbar-thumb {
    background: darken($dark-grey,20%);
}